<input class='amb-form-radio-input' type='radio' checked={{checked}} name={{name}} {{action 'select' preventDefault=false}}>
{{#if hasBlock}}
  <span class='amb-form-radio-content'>{{yield}}</span>
{{/if}}
